local.properties
*.iml
.idea/gradle.xml
.idea/misc.xml
build/
.idea/
.gradle/
app/build/
base_common/build/
biz_login/build/
biz_main/build/
core_annotations/build/
core_framework/build/
core_jutils/build/
core_log/build/
core_processor/build/
core_router/build/
core_ui/build/
fun_aop/build/
fun_business/build/
fun_compressor/build/
fun_bluetooth/build/
