local.properties
*.iml
.idea/gradle.xml
build/
.idea/
.gradle/
app/build/
base-common/build/
biz-login/build/
biz-main/build/
core-annotations/build/
core-framework/build/
core-jutils/build/
core-log/build/
core-processor/build/
core-router/build/
core-ui/build/
fun-aop/build/
fun-business/build/
fun-compressor/build/
.idea/gradle.xml
